.page-user[b-urqtr482rv] {
    height: calc(100vh - 82px - var(--bb-layout-footer-height) - var(--bb-tabs-item-height, 0px));
}

.user-demo-address[b-urqtr482rv] {
    margin-top: .25rem;
    font-size: 86%;
    color: #c0c4cc;
}

[b-urqtr482rv] .table-users {
    height: calc(100% - 93px);
}

[b-urqtr482rv] .table-cell img {
    width: 46px;
    border-radius: var(--bs-border-radius);
}

[b-urqtr482rv] .table-cell .progress {
    height: 6px;
    margin-top: .5rem;
}
